mat-card {
  background-color:#FFFFFF;
  max-width:320px;
  margin:2em auto;
  padding-top:0;
  text-align:left;
}

mat-card-title {
  background-color:#373737;
  color:#FFFFFF;
  font-size:24px;
  font-weight:400;
  margin:0 -24px;
  padding:24px;
  text-align:left;
}

mat-card-subtitle {
  color:#B71C1C;
  font-size:12px;
  margin-bottom:-30px;
  padding-top:10px;
  padding-bottom:10px;
}

mat-card-content {
  margin:0 -24px;
  padding:24px 24px 0 24px;
}

mat-card-content div.row {
  display:flex;
  flex-flow:row;
  margin-top:24px;
}

mat-card-content a {
  flex:1 100%;
}

mat-card-content a.register {
  text-align:right;
}

mat-form-field {
  display:block;
  margin:5px 0;
  width:100%;
}

mat-spinner {
  position:absolute;
  right:10px;
  top:10px;
}